@{
    ViewBag.Title = "Perifericos";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

}
<h1 style="text-align:center">PERIFERICOS</h1>
<div class="wrapper">
    <article class="wrapper-item">
        <img src="~/img/periferico1.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/periferico2.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/periferico3.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/periferico4.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/periferico5.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/periferico6.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/periferico7.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/periferico8.jpg">
    </article>
</div>