@{
    ViewBag.Title = "Adaptadores";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

}
<h1 style="text-align:center">ADAPTADORES</h1>
<div class="wrapper">
    <article class="wrapper-item">
        <img src="~/img/adaptador1.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/adaptador2.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/adaptador3.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/adaptador4.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/adaptador5.jpg">
    </article>
        <article class="wrapper-item">
        <img src="~/img/adaptador6.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/adaptador7.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/adaptador8.jpg">
    </article>
</div>