@{
    ViewBag.Title = "Sitio Oficial de Venta de Hardware";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

}


<h1 style="text-align:center">Bienvenidos a la página de Ventas Hardware</h1>
<div class="">
<article class="wrapper-item img">
    <img src="~/img/ventadecomponentes.jpg" />
</article>

</div>
