@{
    ViewBag.Title = "Memoria RAM";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

}
<h1 style="text-align:center">MEMORIA RAM</h1>
<div class="wrapper">
    <article class="wrapper-item">
        <img src="~/img/memoria1.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/memoria2.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/memoria3.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/memoria4.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/memoria5.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/memoria6.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/memoria7.jpg">
    </article>
    <article class="wrapper-item">
        <img src="~/img/memoria8.jpg">
    </article>
</div>
